<main class="tw-w-full tw-flex tw-gap-8 tw-flex-col tw-p-5 ">
    <div id="head" class="tw-w-full tw-h-1/4 tw-flex tw-justify-center tw-items-center tw-flex-col tw-p-5 tw-gap-10 tw-pt-20"  >
        <div class="tw-w-full tw-h-full tw-flex tw-flex-col tw-justify-center ">
            <h1 class="tw-text-xl tw-font-bold">
                 <span class="tw-text-xl tw-font-bold tw-text-black">driver</span>   
                 </h1>

                 <h2>
                    <span class="tw-text-lg tw-font-normal tw-text-black">level X</span> <br>
                    <span class="tw-text-base tw-font-normal tw-text-black">calicut</span>

                 </h2>

                 <h2>
                    <span class="tw-text-base tw-font-normal tw-text-black">₹8,866.04 - ₹15,000.00 a month</span>

                 </h2>



        </div>

        <div id="buttons" class="tw-w-full tw-flex tw-gap-6">
            <button type="button" class="tw-p-2 tw-bg-blue-950 tw-text-white tw-rounded-lg tw-border-gray-900 tw-border-solid tw-border-2 tw-h-8 flex tw-justify-center tw-items-center">Apply Now</button>
            <button type="button">
                <i class="fa-sharp fa-regular fa-bookmark"></i>
            </button>
            <button type="button">
                <i class="fa-solid fa-ban "></i>
            </button>
        </div>

    </div>
    <div id="body " class="tw-w-full tw-h-3/4 tw-px-5">

        <div class="job_details tw-w-full tw-flex tw-flex-col tw-gap-1   ">
            <div class="payment tw-px-4">
                <div class="head tw-w-full tw-flex tw-item-center tw-gap-3 ">
                    <i class="fa-solid fa-money-bill flex items-center" ></i>
                    <h1 class="tw-text-base tw-font-semibold tw-text-black">Pay</h1>
                </div>
                <div class="salary_per_month tw-relative tw-left-12">
                    <h1 class="tw-text-sm tw-font-semibold tw-text-black">₹8,866.04 - ₹15,000.00</h1>
                </div>
            </div>
            <div class="job-type tw-px-4">
                <div class="head  tw-w-full tw-flex tw-item-center tw-gap-3">
                    <i class="fa-solid fa-briefcase flex items-center"></i>
                    <h1 class="tw-text-base tw-font-semibold tw-text-black">job type</h1>
                </div>
                <div class="type-of-job relative left-12">
                    <h1 class="tw-text-sm   tw-font-semibold tw-text-black">full-time</h1>
                </div>
            </div>


            <div class="job-location tw-w-full tw-flex tw-item-center tw-gap-3 tw-px-4">
                <i class="fa-solid fa-location-dot"></i>
                <h3 class="tw-text-sm   tw-font-semibold tw-text-black" >Calicut,Kerala</h3>
            </div>

            <div class="job-description">
                <ul>
                    <li>Experience: 1-2 years</li>
                    <li>Job Type: Full Time</li>
                    <li>Job Role: Software Developer</li>
                    <li>Job Category: IT Software</li>
            
                </ul>
            </div>



        </div>


    </div>
</main>