

<!-- <app-signup class="w-full h-full  bg-whitesmoke flex justify-center items-center "></app-signup> -->
 <!-- <app-login class="w-full h-full  bg-whitesmoke flex justify-center items-center " ></app-login> -->
<!-- <app-home-page class="w-full h-full  bg-whitesmoke flex justify-center items-center " ></app-home-page> -->
<!-- <app-resume-selection  class="tw-screen tw-h-screen tw-bg-whitesmoke"  ></app-resume-selection> -->
<!-- <app-experience-page class="tw-screen tw-h-screen tw-bg-whitesmoke" ></app-experience-page> -->
 <router-outlet></router-outlet>


