
    <div class="container-1 tw-w-screen tw-h-screen tw-flex tw-justify-center tw-items-center tw-p-1 tw-ease-linear  "  >
        
            <main class="tw-w-80perc tw-h-5/6 tw-flex tw-justify-center tw-items-center tw-bg-neutral-100 tw-p-3 tw-shadow-a1   ">


            <section id="signup_section" class="tw-w-1/2 tw-h-full tw-flex tw-flex-col tw-py-3 tw-justify-center tw-items-center tw-border-r-1.7 tw-border-solid tw-border-rightColor  " >


                <form action="" [formGroup]="signupform"  (ngSubmit)="submitsignup()"   class="tw-w-full tw-h-fit tw-flex tw-justify-center tw-items-center tw-p-3 tw-flex-col tw-gap-5  ">


                    <label  *ngFor="let item of inputData " [for]="item.for"  class="tw-w-80perc tw-flex tw-flex-col tw-justify-center tw-gap-1 tw-text-xs14 tw-font-semibold tw-font-Arial  ">{{item.label}}

                        <input [type]="item.type" [id]="item.id" [name]="item.name" [formControlName]="item.formControlName"   class="tw-w-full tw-h-6  tw-border-b-1.5  tw-border-b-input_border  tw-border-solid   tw-bg-input_bg  tw-p-0   "  required>

                    </label>
       
                    <button type="submit"  class="signup_button  tw-w-28 tw-h-9 tw-font-medium-1 tw-text-xs tw-font-Arial  tw-bg-button_bg tw-border-button_border tw-text-white tw-rounded-md tw-cursor-pointer tw-relative  tw-top-4    tw-hover:bg-red-255   tw-hover:border-solid tw-hover:border-2  tw-hover:border-black-00 " >Sign Up</button>
                </form>
            </section>


            <section id="logo_and_login"   class="tw-w-1/2 tw-h-full tw-flex tw-justify-center tw-items-center tw-flex-col  tw-py-3 "    >
                <div class="logo_login_main tw-w-full tw-h-full tw-flex tw-flex-col tw-p-2 tw-justify-center tw-items-center ">
                    <div class="logo tw-w-full tw-h-3/4  tw-flex tw-flex-col  tw-justify-center tw-items-center  tw-p-3"  >
                        <img src="/assets/Images/LOGO_OF_PASSIO-JOBS.png" alt="" class="tw-w-2/4 tw-h-16  tw-relative tw-bottom-5"  >



                        <iframe src="https://lottie.host/embed/5e671295-53ee-453b-99f3-a10c4a30023e/94fkdZjOid.json"  class="tw-w-full tw-h-full tw-relative tw-bottom-4 " ></iframe>

                       

                        <h3 class="tw-w-max tw-h-0 tw-text-blue-900 tw-font-bold tw-text-xs10 tw-font-Dune  tw-relative tw-bottom-10" >Your Future Is Here</h3>


                    </div>
                    

                    <div class="login_way  tw-w-full tw-h-1/4 tw-flex justify-center tw-items-center tw-flex-col ">

                        <h6 class="tw-text-xs14 tw-font-bold tw-font-Arial  tw-relative tw-bottom-5 "  >Already have an Account?</h6>

                        <button type="button" (click)="navigateTologin()"  class="tw-w-28 tw-h-9 tw-font-medium-1 tw-text-xs tw-font-Arial  tw-bg-button_bg  tw-border-button_border  tw-text-white tw-rounded-md tw-cursor-pointer   tw-hover:scale-105 transition" >Go to Login
                            <i class="fa-solid fa-arrow-right "></i>
                        </button>

                    </div>

                </div>


            </section>

        </main>
    </div>
