
    <div class="container-1 tw-w-screen tw-h-screen tw-flex tw-justify-center tw-items-center tw-p-1 tw-ease-linear  "  >
        
            <main class="tw-w-80perc tw-h-5/6 tw-flex tw-justify-center tw-items-center tw-bg-neutral-100 tw-p-3 tw-shadow-a1   ">


            <section id="signup_section" class="tw-w-1/2 tw-h-full tw-flex tw-flex-col tw-py-3 tw-justify-center tw-items-center tw-border-r-1.7 tw-border-solid tw-border-rightColor  " >


                <form action="" method="post" class="tw-w-full h-full flex justify-center items-center p-3 flex-col gap-5  ">


                    <label for="name"  class="w-80perc flex flex-col justify-center gap-1 text-xs14 font-semibold font-Arial  ">Name

                        <input type="text" id="name" name="name"  class="w-full h-3  border-b-1.5  border-b-input_border  border-solid  bg-input_bg  p-0   "  required>

                    </label>


                    <label for="email"  class="w-80perc flex flex-col justify-center gap-1 text-xs14 font-semibold font-Arial " >Email

                        <input type="email" id="email" name="email"  class="w-full h-22  border-b-1.5  border-b-input_border  border-solid  bg-input_bg  p-0   "  required>

                    </label>

                    <label for="mobile"  class="w-80perc flex flex-col justify-center gap-1 text-xs14 font-semibold font-Arial  " >Mobile Number
                    
                        <input type="tel" id="mobile" name="mobile"  class="w-full h-22  border-b-1.5  border-b-input_border   boder-b border-solid  bg-input_bg  p-0 "  required>
                    
                    </label>
                    
                    <label for="password"  class="w-80perc flex flex-col justify-center gap-1 text-xs14 font-semibold font-Arial  " >Password
                    
                        <input type="password" id="password" name="password"  class="w-full h-22  border-b-1.5  border-b-input_border  border-solid  bg-input_bg  p-0"  required>
                    
                    </label>
                    
                    <label for="Confirm_Password"  class="w-80perc flex flex-col justify-center gap-1 text-xs14 font-semibold font-Arial  " >Confirm Password
                    
                        <input type="password" id="Confirm_Password" name="Confirm_Password"  class="w-full h-22  border-b-1.5  border-b-input_border   border-solid  bg-input_bg  p-0  "  required>
                    
                    </label>

                    <button type="submit" class="signup_button  w-28 h-9 font-medium-1 text-xs font-Arial  bg-button_bg border-button_border text-white rounded-md cursor-pointer relative  top-8    hover:bg-red-255   hover:border-solid hover:border-2  hover:border-black-00 " >Sign Up</button>

                </form>
            </section>


            <section id="logo_and_login"   class="w-1/2 h-full flex justify-center items-center flex-col  py-3 "    >
                <div class="logo_login_main w-full h-full flex flex-col p-2 justify-center items-center ">
                    <div class="logo w-full h-3/4  flex flex-col  justify-center items-center  p-3"  >
                        <img src="/Images/LOGO_OF_PASSIO-JOBS.png" alt="" class="w-2/4 h-16  relative bottom-5"  >



                        <iframe src="https://lottie.host/embed/5e671295-53ee-453b-99f3-a10c4a30023e/94fkdZjOid.json"  class="w-full h-full relative bottom-4 " ></iframe>

                       

                        <h3 class="w-max h-0 text-blue-900 font-bold text-xs10 font-Dune  relative bottom-10" >Your Future Is Here</h3>


                    </div>
                    

                    <div class="login_way  w-full h-1/4 flex justify-center items-center flex-col ">

                        <h6 class="text-xs14 font-bold font-Arial  relative bottom-5 "  >Already have an Account?</h6>

                        <button type="button" class="w-28 h-9 font-medium-1 text-xs font-Arial  bg-button_bg  border-button_border  text-white rounded-md cursor-pointer   hover:scale-105 transition" >Go to Login
                            <i class="fa-solid fa-arrow-right "></i>
                        </button>

                    </div>

                </div>


            </section>

        </main>
    </div>
