
    <!-- \section{Welcome to PASSIO Home} -->
    <div id="container" class="tw-w-screen  tw-h-screen  tw-flex  tw-flex-col tw-overflow-auto no-scrollbar  ">

        <app-header class="tw-w-full  tw-flex tw-fixed tw-z-20"></app-header>
        <main class="tw-w-full tw-h-full tw-p-10 tw-flex   tw-gap-20  tw-justify-evenly tw-items-center tw-relative tw-top-24 ">
            <div  class="left-side tw-w-1/3 tw-h-lvh   tw-p-5 tw-flex tw-flex-col   tw-items-center  tw-justify-start   tw-overflow-y-auto no-scrollbar   tw-rounded-lg  tw-gap-5  ">
                
                
                <app-sider   [Data]="Data"  (itemselected)="OnItemSelected($event)"  class="tw-w-full tw-flex tw-flex-col tw-gap-6" ></app-sider>
    
            </div>
            
            <div class="right-side tw-w-1/2 tw-h-lvh tw-flex tw-flex-col tw-justify-start tw-p-5 tw-items-center tw-overflow-y-auto no-scrollbar  tw-rounded-lg  tw-gap-5">
                <app-content  [contentData]="SelectedItem" class="tw-w-5/6  tw-flex  tw-rounded-lg    tw-shadow-a1 tw-border-slate-800   " ></app-content>
    
               
    
            </div>
        </main>

        
    </div>
    
    
    