.btn-success {
    width: 70px;
    height: 25px;
    background-color: #1e3a8a ;
    color: white;
    border-color: #1e3a8a ;
    
  }
  
  .btn-danger {
    width: 70px;
    height: 25px;
    background-color: #1e3a8a ;
    color: white;
    border-color: #1e3a8a ;
    
  }