<main id="container" class="tw-w-screen tw-h-screen tw-flex tw-flex-col tw-justify-normal tw-items-center tw-relative  tw-overflow-y-auto">
    <app-header class="tw-w-full tw-h-fit tw-flex tw-sticky tw-z-50 tw-top-0"></app-header>
      <div class="tw-w-full tw-h-full tw-flex tw-justify-evenly tw-items-start tw-px-10  tw-py-16 tw-gap-10 tw-bg-gray-100 tw-rounded-lg tw-border-2 tw-border-gray-300 tw-border-opacity-50 tw-border-solid -tw-z-0 tw-absolute tw-top-20">
      
        <div id="notification" class="tw-w-80perc tw-h-32 tw-flex tw-flex-col tw-shadow-a1 tw-rounded-md tw-px-4">
            <div id="notfication-header" class="tw-w-full tw-flex-col tw-flex tw-justify-start tw-items-start tw-p-4">
                <p class="tw-w-2 tw-h-2 tw-relative tw-bottom-3 tw-right-7   tw-shadow-a1  tw-bg-red-600 tw-rounded-full" ></p>
                <h3 class="tw-font-bold ">NOTIFICATION</h3>
            </div>

            <p class="tw-px-4 tw-text-wrap">
                show notifications for the user 
            </p>

        </div>
      
          
    </div>  
</main>
  